* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
	color: #333;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #ededed;
  font-size: 24px;
}

.bold {
  font-weight: 600;
}

.convex {
	display: inherit;
	justify-content: center;
  align-items: center;
	flex-direction: column;
	padding: 5em;
	border-radius: 2em;

	background: #ededed;
  -webkit-box-shadow: 15px 15px 20px #b3b3b3, -15px -15px 20px white;
  box-shadow: 15px 15px 20px #b3b3b3, -15px -15px 20px white;
  outline: #cccccc 1px solid;
}

.result {
  margin-bottom: 50px;
}

label {
  font-size: 36px;
}

input {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 20px;
	border: #ddd 1px solid;

  background: #ededed;
  -webkit-box-shadow: inset 1.1em 1.1em 1.1em -1em #b3b3b3,
    inset -1.1em -1.1em 1.1em -1em white;
  box-shadow: inset 1.1em 1.1em 1.1em -1em #b3b3b3, inset -1.1em -1.1em 1.1em -1em white;
}

button {
  padding: 20px 40px;
  margin: 20px;
  cursor: pointer;
  /* background: none; */
  color: #444;
  font-size: 18px;
  border: 1px solid #ededed;
  border-radius: 8px;
  text-transform: uppercase;
  
  background: #ededed;
  -webkit-box-shadow: 0.7em 0.7em 0.9em #b3b3b3, -0.7em -0.7em 0.9em white;
  box-shadow: 0.7em 0.7em 0.9em #b3b3b3, -0.7em -0.7em 0.9em white;
  outline: #cccccc 1px solid;
  transition: 0.2s;

  /* background: #ededed;
  -webkit-box-shadow: inset 2em 2em 2em -1em #b3b3b3,
    inset -2em -2em 2em -1em white;
  box-shadow: inset 2em 2em 2em -1em #b3b3b3, inset -2em -2em 2em -1em white;
  outline: #cccccc 1px solid; */
}

button:hover {
  color: #ddd;
  background: #ededed;
  -webkit-box-shadow: inset 1.1em 1.1em 1.1em -1em #b3b3b3,
    inset -1.1em -1.1em 1.1em -1em white;
  box-shadow: inset 1.1em 1.1em 1.1em -1em #b3b3b3, inset -1.1em -1.1em 1.1em -1em white;
  transition: 0.2s;
}
